@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap");
.fullscreen-media-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fullscreen-media-container.video {
  position: relative;
}
.fullscreen-media-container.video video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.fullscreen-media-container .overlay-content-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0 30px 30px;
  display: flex;
}
.fullscreen-media-container .partner-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fullscreen-media-container .partner-text-container button {
  margin-right: 15px;
  pointer-events: none;
}
.fullscreen-media-container .partner-text-container .name {
  display: block;
}
.fullscreen-media-container .cam-container {
  flex-basis: 0%;
  flex-grow: 1;
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  transform-origin: 100% 100%;
}
.fullscreen-media-container .cam-container .content {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fullscreen-media-container .cam-container .content .name {
  display: block;
}
.fullscreen-media-container .cam-container .video {
  position: relative;
  padding-bottom: 56.25%;
}
.fullscreen-media-container .cam-container .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.fullscreen-media-container .cam-container .video::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #272727;
}
.fullscreen-media-container .cam-container.disabled {
  transform: translate(400px, 0);
  opacity: 0.1;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
}
.fullscreen-media-container .cam-container.disabled .video {
  opacity: 0.2;
}
.fullscreen-media-container .cam-container.disabled .video::after {
  opacity: 1;
}
.fullscreen-media-container .ui-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
}
.fullscreen-media-container .ui-container .navigation-controls-container {
  padding: 12px 15px;
  border-radius: 120px;
  width: auto;
  display: flex;
  flex-direction: row;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateZ(0);
}
@supports not ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
  .fullscreen-media-container .ui-container .navigation-controls-container {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

span.name {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
button.size-s {
  width: 28px;
  height: 28px;
}
button[class*=-cam-element], button[class*=-mic-element], button[class*=-share-element] {
  margin-right: 15px;
  border-radius: 70px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  transform: translateZ(0);
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
button[class*=-cam-element].active, button[class*=-mic-element].active, button[class*=-share-element].active {
  background-color: #f8175a;
}
button[class*=-cam-element]:hover, button[class*=-mic-element]:hover, button[class*=-share-element]:hover {
  transform: scale(1.08);
}
button[class*=-share-element].active {
  background-color: #034ff4;
}
button[class*=-settings] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button[class*=-settings] span {
  width: 100%;
  max-width: 18px;
  height: 2px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
button[class*=-settings] span::before, button[class*=-settings] span::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  transform-origin: 0 100%;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
button[class*=-settings] span::before {
  top: -6px;
}
button[class*=-settings] span::after {
  bottom: -6px;
}
button[class*=-settings]:hover span::before {
  transform: scaleX(0.5);
}
button span.icon {
  display: flex;
}
button span.icon svg [class*=inactive],
button span.icon span[class*=hide] {
  visibility: hidden;
}
button span.icon.active svg [class*=inactive],
button span.icon.active span[class*=hide] {
  visibility: visible;
}

@media (max-width: 1024px) {
  .fullscreen-media-container .overlay-content-container {
    height: 100%;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
  .fullscreen-media-container .overlay-content-container .cam-container {
    display: none;
  }
  .fullscreen-media-container .overlay-content-container .ui-container {
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .fullscreen-media-container .overlay-content-container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .fullscreen-media-container .overlay-content-container .ui-container {
    flex-basis: 0%;
    flex-grow: 1;
    margin: 0 auto;
  }
  .fullscreen-media-container .overlay-content-container .partner-text-container {
    flex-basis: 0%;
    flex-grow: 1;
  }
}
.flex-col {
  display: flex;
  flex-wrap: wrap;
}

.box-start {
  justify-content: flex-start;
}

.box-end {
  justify-content: flex-end;
}

.box-center {
  justify-content: center;
}

.box-align-center {
  align-items: center;
}

.box-align-start {
  align-items: flex-start;
}

.box-align-end {
  align-items: flex-end;
}

@media (max-width: 767px) {
  .col {
    padding: 0 20px;
  }

  .row-inner {
    margin: -20px;
  }
}
@media (min-width: 768px) {
  .col {
    padding: 0 20px;
  }

  .row-inner {
    margin: -20px;
  }
}
.xs-1 {
  width: 8.3333333333%;
}

.xs-2 {
  width: 16.6666666667%;
}

.xs-3 {
  width: 25%;
}

.xs-4 {
  width: 33.3333333333%;
}

.xs-5 {
  width: 41.6666666667%;
}

.xs-6 {
  width: 50%;
}

.xs-7 {
  width: 58.3333333333%;
}

.xs-8 {
  width: 66.6666666667%;
}

.xs-9 {
  width: 75%;
}

.xs-10 {
  width: 83.3333333333%;
}

.xs-11 {
  width: 91.6666666667%;
}

.xs-12 {
  width: 100%;
}

@media (min-width: 420px) {
  .s-1 {
    width: 8.3333333333%;
  }

  .s-2 {
    width: 16.6666666667%;
  }

  .s-3 {
    width: 25%;
  }

  .s-4 {
    width: 33.3333333333%;
  }

  .s-5 {
    width: 41.6666666667%;
  }

  .s-6 {
    width: 50%;
  }

  .s-7 {
    width: 58.3333333333%;
  }

  .s-8 {
    width: 66.6666666667%;
  }

  .s-9 {
    width: 75%;
  }

  .s-10 {
    width: 83.3333333333%;
  }

  .s-11 {
    width: 91.6666666667%;
  }

  .s-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .m-1 {
    width: 8.3333333333%;
  }

  .m-2 {
    width: 16.6666666667%;
  }

  .m-3 {
    width: 25%;
  }

  .m-4 {
    width: 33.3333333333%;
  }

  .m-5 {
    width: 41.6666666667%;
  }

  .m-6 {
    width: 50%;
  }

  .m-7 {
    width: 58.3333333333%;
  }

  .m-8 {
    width: 66.6666666667%;
  }

  .m-9 {
    width: 75%;
  }

  .m-10 {
    width: 83.3333333333%;
  }

  .m-11 {
    width: 91.6666666667%;
  }

  .m-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .l-1 {
    width: 8.3333333333%;
  }

  .l-2 {
    width: 16.6666666667%;
  }

  .l-3 {
    width: 25%;
  }

  .l-4 {
    width: 33.3333333333%;
  }

  .l-5 {
    width: 41.6666666667%;
  }

  .l-6 {
    width: 50%;
  }

  .l-7 {
    width: 58.3333333333%;
  }

  .l-8 {
    width: 66.6666666667%;
  }

  .l-9 {
    width: 75%;
  }

  .l-10 {
    width: 83.3333333333%;
  }

  .l-11 {
    width: 91.6666666667%;
  }

  .l-12 {
    width: 100%;
  }
}
@media (min-width: 1220px) {
  .xl-1 {
    width: 8.3333333333%;
  }

  .xl-2 {
    width: 16.6666666667%;
  }

  .xl-3 {
    width: 25%;
  }

  .xl-4 {
    width: 33.3333333333%;
  }

  .xl-5 {
    width: 41.6666666667%;
  }

  .xl-6 {
    width: 50%;
  }

  .xl-7 {
    width: 58.3333333333%;
  }

  .xl-8 {
    width: 66.6666666667%;
  }

  .xl-9 {
    width: 75%;
  }

  .xl-10 {
    width: 83.3333333333%;
  }

  .xl-11 {
    width: 91.6666666667%;
  }

  .xl-12 {
    width: 100%;
  }
}
@media (min-width: 1660px) {
  .xxl-1 {
    width: 8.3333333333%;
  }

  .xxl-2 {
    width: 16.6666666667%;
  }

  .xxl-3 {
    width: 25%;
  }

  .xxl-4 {
    width: 33.3333333333%;
  }

  .xxl-5 {
    width: 41.6666666667%;
  }

  .xxl-6 {
    width: 50%;
  }

  .xxl-7 {
    width: 58.3333333333%;
  }

  .xxl-8 {
    width: 66.6666666667%;
  }

  .xxl-9 {
    width: 75%;
  }

  .xxl-10 {
    width: 83.3333333333%;
  }

  .xxl-11 {
    width: 91.6666666667%;
  }

  .xxl-12 {
    width: 100%;
  }
}
html {
  min-height: 100%;
  overflow-y: scroll;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

ul li,
ol li {
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  height: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  font-size: 18px;
  color: #fff;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-size-sm {
  max-width: 780px;
  margin: 0 auto;
  width: 100%;
}

.content-size-m {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.content-size-sl {
  max-width: 1224px;
  margin: 0 auto;
  width: 100%;
}

.content-size-l {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.remote_div {
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Ensure the image is behind the video */
  object-fit: cover;
}

#remoteVideo {
  position: relative; /* Ensure video stays above the background image */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Optional: Ensure video fills the container */
}