html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


@font-face {
    font-family: "SF";
    src: url('SFPRODISPLAYMEDIUM.OTF');
}

body {
    background-color: #000;
    font-family: "SF";
    color: #fff;
    letter-spacing: 0.2px;
    display: flex;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 7px;
    left: 7px;
    background-color: #1d1d1d;
    height: 98%;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-sizing: border-box;
}

.loggedIn {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.loggedIn .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggedIn .icon img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
}

.loggedIn .userInfo {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 100%;
}

.loggedIn .userInfo span:first-child {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.loggedIn .userInfo span:first-child div {
    margin-left: auto;
}

.loggedIn .userInfo span:last-child {
    font-size: 15px;
    color: #838383;
}

.actions {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.act {
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: background-color 0.2s ease-in-out;
}

.actions .bottom {
    margin-top: auto;
}

.act span {
    margin-left: auto;
}

.act.active {
    background-color: #343434;
}

.act:hover {
    background-color: #343434;
}

.act svg {
    margin-right: 8px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #282828;
    margin-bottom: 5px;
}

.folders {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    padding: 5px;
    user-select: none;
}

.folders .folder {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.folders .folder:hover {
    background-color: #343434;
}

.folders .folder:hover span {
    background-color: #1d1d1d;
}

.folders .folder span {
    width: auto;
    font-size: 12px;
    padding: 5px;
    margin-left: auto;
    background-color: #363636;
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out;
}

.container {
    margin-left: 10px;
    padding: 20px;
    width: 80%;
}

.container .topActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container .topActions h3 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

.container .topActions .rightActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.container .topActions .icon {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.container .topActions .icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 280px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 15px;
    outline: none;
    background-color: #1d1d1d;
    color: #e3e3e3;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    background-color: #2d2d2d;
    box-shadow: 0 0 0 4px rgba(49, 49, 49, 0.1);
}

.icon-r {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}