@font-face {
    font-family: 'SF Pro Icons';
    src: url('./fonts/sf-pro-icons_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bubble';
    src: url('./fonts/Bumbbled.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('./fonts/sf-pro-icons_semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Icons';
    src: url('./fonts/sf-pro-icons_light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/sf-pro-text_light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/sf-pro-text_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/sf-pro-text_semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sf-pro-display_semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}


.navigate {
    padding: 23px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff17;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 30px;
    justify-content: space-between;
    transition: width 0.3s ease, border-radius 0.3s ease, transform 0.3s ease, height 0.3s ease, padding 0.3s ease;
}

.navigate.expand {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 50px;
    flex-direction: column;
    /* Stack content vertically */
    align-items: center;
    justify-content: flex-start;
}

.menu-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-options button {
    background: #ffffff10;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-options button:hover {
    background: #ffffff30;
}


.navigate.hidden {
    transform: translateY(100%);
    opacity: 0;
}

.navigate.shrink {
    width: 66px;
    border-radius: 50px;
}


.navigate .switch {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navigate .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    /* Increase width to take up more space */
}



.navigate .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}

.navigate .userIcon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.navigate .userInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}

.userInfo .welcoming {
    font-size: 13px;
}

.userInfo #userUsername {
    font-size: 19px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;


    z-index: -1;
}

.bottomSearchParent {
    position: fixed;
    bottom: 30px;
    height: 86px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 0.6s ease, opacity 0.6s ease, height 0.6s ease, width 0.6s ease, bottom 0.3s ease;
    /* Smooth transition */
}

.insideSearch {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-right: 0px;
    width: 100%;
    height: 100%;
    /*padding: 20px;*/
    margin-top: env(safe-area-inset-top) !important;
    margin-bottom: env(safe-area-inset-bottom) !important;
    /* Adding bottom safe area inset */
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    /* Adding bottom safe area inset */
}

#searchContainer {
    width: 100%;
    height: auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out, margin 0.5s ease-in-out;
}

#searchContainer.active {
    padding-top: 25px;
    padding-bottom: 40px;
    background-color: #141416d8;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

#searchContainer .topSearch.recommend {
    margin-top: 20px;
}

.topSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.topSearch.recommend {
    margin-top: 10px;
    display: flex;
    height: auto;
    gap: 15px;
    overflow-x: auto;
    /* Space between items */
    scroll-snap-type: x mandatory;
    /* Enables snapping */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
    z-index: 5;
    margin-left: 15px;
    opacity: 1;
    /* Fully visible by default */
    visibility: visible;
    /* Element is visible */
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    /* Fade and delay visibility change */
}

.topSearch.recommend.hidden {
    opacity: 0;
    /* Fully transparent */
    visibility: hidden;
    /* Element is hidden but still occupies space */
    pointer-events: none;
    /* Prevent interaction */
    transition: opacity 0.5s ease-in-out, visibility 0s 0s;
    /* Hide immediately after opacity transition */
    display: none;
    /* Prevents element from taking up space */
}

.topSearch.recommend::-webkit-scrollbar {
    display: none;
}

.topSearch.recommend .Block {
    width: auto;
    padding: 7.5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #41474763;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.Block.favorite {
    background-color: #ff020212 !important;
}

.Block.match {
    background-color: #1f42f4b1 !important;
}


#searchContainer .backToSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

#searchContainer .searchInput {
    padding: 18px 20px;
    background-color: #ffffff0e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: padding 0.6s ease, opacity 0.3s ease, width 0.6s ease, background-color 0.6s ease, height 0.6s ease;
    /* Smooth transition */
    width: 100%;
    color: #fff;
    margin-right: 10px;
}

#searchContainer .searchInput input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
}

#searchContainer .searchInput svg {
    margin-left: auto;
}

#searchContainer .searchInput input::placeholder {
    color: #cfcfcf;
}



.searchIntelli {
    padding: 18px 20px;
    background-color: #1f42f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: padding 0.6s ease, opacity 0.3s ease, width 0.6s ease, background-color 0.6s ease, height 0.6s ease, transform 0.2s ease-in-out;
    /* Smooth transition */
    width: 256px;
    color: #fff;
}

.searchIntelli.notLoaded {
    opacity: 0;
    /* Hide the search bar when not loaded */
    transform: translateY(100%);
    /* Move the search bar off-screen */
}

.searchIntelli .iconInC {
    /* Remove flex: 1 */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff1d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking if needed */
    flex-grow: 0;
    /* Ensure it doesn't grow */
}

.iconInCGlobal {
    /* Remove flex: 1 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff1d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking if needed */
    flex-grow: 0;
    /* Ensure it doesn't grow */
}

.triggerSearch {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff1d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking if needed */
    flex-grow: 0;
    /* Ensure it doesn't grow */
    cursor: pointer;
}

.searchIntelli .iconInC,
.searchIntelli .triggerSearch {
    transition: opacity 0.2s ease-in-out, transform 0.6s ease;
    /* These will shrink or hide when the 'scrolled' class is added */
}

.bottomSearchParent.scrolled .searchIntelli {
    padding: 10px 20px;
    /* Smaller padding when scrolled */
    width: 145px;
    justify-content: center;
}

.bottomSearchParent.scrolled .searchIntelli .iconInC,
.bottomSearchParent.scrolled .searchIntelli .triggerSearch {
    opacity: 0;
    /* Hide the icons */
    transform: scale(0.8);
    /* Shrink the icons */
}

.bottomSearchParent:not(.scrolled) .searchIntelli .iconInC,
.bottomSearchParent:not(.scrolled) .searchIntelli .triggerSearch {
    transition-delay: 0.2s;
    /* Delay the opacity transition */
}

.bottomSearchParent.scrolled {
    height: 86px;
    /* Allow the container to shrink based on content */
}

.searchIn {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: left;
}

.searchIn .nearByHolder {
    color: #afafaf;
    font-size: 13px;
}

.searchIn span {
    display: flex;
    align-items: center;
}

.searchIn span svg {
    margin-left: 2px;
}

#phone {
    --fade-color: #121216;
    /* Slightly lighter shade, still close to OLED black */
    background: linear-gradient(to bottom left,
            rgba(0, 0, 0, 0) 50%,
            /* Keep dark to transparent */
            rgba(0, 0, 0, 0.05) 75%,
            /* Very subtle brightness */
            rgba(0, 0, 0, 0.1) 100%),
        /* Slightly more visible */
        linear-gradient(to top,
            rgba(10, 25, 50, 0) 50%,
            /* Keep dark blue hint */
            rgba(0, 20, 80, 0.03) 75%,
            /* Very subtle brighter blue */
            rgba(0, 0, 50, 0.05) 100%),
        /* Slightly brighter blue */
        var(--fade-color);
    background-repeat: no-repeat;
    background-size: 300% 300%;
}


#phone.image {
    --fade-color: #0a0a0d;
    /* Darker shade close to OLED black */
    position: relative;
    /* Make sure the pseudo-element is positioned correctly */
    width: 100vw;
    /* Full width */
    height: 100vh;
    /* Full height */
    z-index: 1;
    /* Keeps the content in front of the pseudo-element */
    background: linear-gradient(to bottom left,
            rgba(0, 0, 0, 0) 50%,
            /* Darker to transparent */
            rgba(0, 0, 0, 0.1) 75%,
            /* Darker to slightly visible */
            rgba(0, 0, 0, 0.2) 100%),
        /* Darker still */
        linear-gradient(to top,
            rgba(10, 25, 50, 0) 50%,
            /* Darker gradient with a hint of blue */
            rgba(0, 20, 80, 0.05) 75%,
            /* Darker blue */
            rgba(0, 0, 50, 0.08) 100%),
        /* Darker blue */
        var(--fade-color);
}

/* Create a pseudo-element to hold the background image */
#phone.image::before {
    content: '';
    /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('splashScreens/apple-splash-640-1136.png');
    /* Replace with your image URL */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(5px) brightness(60%);
    /* Apply the blur effect only to the background image */
    z-index: -1;
    /* Place the pseudo-element behind the content */
}




#phone.login {
    --fade-color: #000000;

    background: radial-gradient(circle at 30% 30%,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(255, 255, 255, 0) 80%),
        radial-gradient(circle at 70% 70%,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0) 90%),
        linear-gradient(to top right,
            rgba(244, 31, 31, 0) 50%,
            rgba(244, 31, 31, 0.1) 75%,
            rgba(244, 31, 31, 0.2) 100%),
        linear-gradient(to bottom left,
            rgba(255, 121, 121, 0) 50%,
            rgba(255, 121, 121, 0.1) 75%,
            rgba(255, 121, 121, 0.2) 100%),
        var(--fade-color);

    background-repeat: no-repeat;
    background-size: 300% 300%;
    animation: gradientMove 15s infinite ease-in-out;

    /* Light bulb glow effect */
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.notificationsCC {
    padding: 7.5px 15px;
    background-color: rgba(255, 255, 255, 0.164);
    /* Use rgba for transparency */
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.newNotifs {
    margin-left: 10px;
    background-color: #161514;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.Userfeed {
    margin-top: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 160px;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.busTimetable {
    width: 100%;
    height: auto;
    margin-bottom: 120px;
    position: relative;
    transition: transform 0.3s ease, margin-top 0.3s ease, opacity 0.3s ease, visibility 0s;
    margin-top: 0;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    display: none;
}

.busTimetable.shown {
    margin-top: -80px;
    opacity: 1;
    /* Ensure it's visible by default */
    visibility: visible;
}

:root {
    --randomFactor: calc(var(--randomFactorMin, 0) + var(--randomFactorMax, 1));
}

@keyframes randomRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(calc(360deg * var(--randomFactor)));
    }
}


@keyframes pulse {
    0% {
        transform: scale(1.10);
        fill: #f83636a4;
    }

    70% {
        transform: scale(1);
        fill: #ffffffa4;
    }

    100% {
        transform: scale(1.10);
        fill: #f83636a4;
    }
}


.busTimetable .timetableItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.timetableItem .topDefines {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    position: fixed;
    padding: 0px 16px;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, padding-top 0.3s ease-in-out, margin-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out, -webkit-backdrop-filter 0.3s ease-in-out;
}

.timetableItem .topDefines.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    /* Black with transparency */
    backdrop-filter: blur(5px);
    /* Blur effect */
    -webkit-backdrop-filter: blur(5px);
    padding-top: 70px;
    /* Adjust for status bar height */
    margin-top: calc(env(safe-area-inset-top, 0px) * -1 - 35px);
    padding-bottom: 10px;
}


.timetableItem .topDefines .itempic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.timetableItem .topDefines .itempic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.timetableItem .topDefines .infoPost {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}


.timetableItem .topDefines .infoPost span.postType {
    color: #afafaf;
    font-size: 13px;
}

.topDefines .arrowFar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff1d;
    margin-left: auto;
}

.topDefines .buttonMore {
    padding: 0px 20px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff1d;
    margin-left: auto;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.themeButton {
    padding: 0px 20px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff1d;
    color: #fff;
    font-size: 14px;
}

.themeButton svg {
    margin-right: 5px;
}

.themeButton.timetable {
    background-color: #ffffff1d;
    margin-bottom: 100px;
}

#content::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background: linear-gradient(to bottom, rgba(20, 20, 22, 0) 0%, var(--fade-color) 98%);
    pointer-events: none;
}



.Userfeed .feedItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.Userfeed.focused {
    transform: translateX(20px);
    opacity: 0;
    animation: moveUpAndLeft 0.5s ease-in-out forwards;

}

.feedItem .topDefines {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.feedItem .topDefines .itempic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feedItem .topDefines .itempic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.feedItem .topDefines .infoPost {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.infoPost .popular {
    /*color: #ff7300;*/
    color: #fff;
}

.feedItem .topDefines .infoPost span.postType {
    color: #afafaf;
    font-size: 13px;
}

.feedItem .arrowFar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff1d;
    margin-left: auto;
}

.feedItem .buttonMore {
    padding: 0px 20px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff1d;
    margin-left: auto;
    color: #fff;
    font-size: 14px;
}

.pinned-favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    /* Enables horizontal scrolling */
    height: 190px;
    color: #fff;
    gap: 10px;
    /* Space between items */
    scroll-snap-type: x mandatory;
    /* Enables snapping */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
    /* Momentum scrolling for mobile */
    /*margin-left: -20px;
    margin-right: -20px;*/
    border-radius: 20px;
}

.pinned-favorites::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.pinned-favorites .item {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2e62;
    height: 100%;
    border-radius: 20px;
    width: 190px;
    min-width: 190px;
    padding: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    scroll-snap-align: start;
    /* Snap to the start of each item */
}

.pinned-favorites .item.favorite {
    background-color: #1f42f425;
    border: 3px solid #293fac;
}

.pinned-favorites .item.isPreloaded {
    background-color: #f5421f25;
    border: 2px solid #ac2f29;
}

.pinned-favorites .item .info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.pinned-favorites .item .main-text {
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    padding-top: 0px;
}

.pinned-favorites .item .busName {
    color: #fff;
    font-size: 38px;
    display: flex;
    width: 100%;
    align-items: left;
    padding: 10px;
}

.pinned-favorites .item .fav-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

.pinned-favorites .item .fav-actions div {
    cursor: pointer;
}


.pinned-favorites .item .nonDefault {
    justify-content: space-evenly;
}


.pinned-favorites .item .fav-actions .button-action {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #40404372;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    color: #8bdd8f;
    flex: -1;
}



.pinned-favorites .item .fav-actions .button-action.important {
    flex: 1;
    margin-right: 5px;
}


.pinned-favorites .item .fav-actions .button-action.important svg {
    margin-right: 5px;
}

.pinned-favorites .item .fav-actions .button-action.coverAll {
    width: 100% !important;
}

.pinned-favorites .item .fav-actions .button-action:nth-child(1).coverAll {
    margin-right: 5px;
}

.pinned-favorites .item .info .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.pinned-favorites .item .info .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.pinned-favorites .item .info .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}

.pinned-favorites .item .info .text span:nth-child(1) {
    color: #afafaf;
    font-size: 13px;
}

.skeleton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
}



.skeleton-text,
.skeleton-button {
    background: #e0e0e0;
    border-radius: 14px;
    animation: skeleton 1.5s infinite ease-in-out;
}

.skeleton-text {
    height: 100%;
    width: 100%;
}

.skeleton-button {
    height: 40px !important;
    width: 100%;
    flex: 1;
}

.skeleton-button2 {
    background: #e0e0e0;
    animation: skeleton 1.5s infinite ease-in-out;
}

.skeleton-button2 {
    width: 100%;
    flex: 1;
}

.skeleton-button2 {
    background: linear-gradient(90deg, #e0e0e000 25%, #ffffff17 50%, #e0e0e000 75%);
    background-size: 200% 100%;
}

/* Skeleton effect animation */
@keyframes skeleton {
    0% {
        background-position: -200%;
    }

    100% {
        background-position: 200%;
    }
}

.skeleton-text {
    background: linear-gradient(90deg, #e0e0e000 25%, #ffffff17 50%, #e0e0e000 75%);
    background-size: 200% 100%;
}

.skeleton-button {
    background: linear-gradient(90deg, #e0e0e000 25%, #ffffff17 50%, #e0e0e000 75%);
    background-size: 200% 100%;
}

.oasa-map {
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.mapboxgl-ctrl-bottom-left {
    display: none;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}


.behind {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin-top: calc(-1 * env(safe-area-inset-top)) !important;
    margin-bottom: env(safe-area-inset-bottom) !important;
    /* Adding bottom safe area inset */
}

#main-wrapper::-webkit-scrollbar,
#phone::-webkit-scrollbar {
    display: none;
}

.timetableItem .busInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 60px;
}

.timetableItem .busInfo p {
    margin: 0;
    font-size: 37px;
}

.timetableItem .busInfo p#stationInfoName {
    margin: 0;
    font-size: 25px;
}

.timetableItem .busInfo span {
    /*description*/
    margin-top: 5px;
    font-size: 15px;
}


.busInfo .busInfoSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    z-index: 5;
    margin-left: 0px;
    padding-right: -10px;
    /*border-radius: 20px;*/
}

#multiple-routes .Block {
    order: 2;
}

#multiple-routes .Block.active {
    order: 1;
}

.busInfo .busInfoSelector {
    color: #fff;
    margin-top: 10px;
    display: flex;
    height: auto;
    gap: 10px;
    overflow-x: auto;
    /* Space between items */
    scroll-snap-type: x mandatory;
    /* Enables snapping */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
    z-index: 5;
}

.busInfo .busInfoSelector::-webkit-scrollbar {
    display: none;
}

.busInfo .busInfoSelector .Block {
    width: auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: #55555525;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    white-space: nowrap;
}

.busInfo .busInfoSelector .Block.active {
    background-color: #1f42f425;
    /* Highlight color */
    border: 2px solid #293fac;
    /* Border for active state */
    color: #ffffff;
    /* Text color for better contrast */
}

.timetableSpawn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timetableSpawn .timeItem {
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    background-color: #ffffff1d;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 10px;
    min-height: 70px;
}

.timeItem.forCheckboxes {
    padding: 10px 10px;
    background-color: #a7a7a714;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 10px;
    min-height: 40px;
}

.timeItem.forCheckboxes.disabled {
    opacity: 0.3;
    pointer-events: none;
    position: relative;
}



.timetableSpawn .timeItem.isLocal {
    background-color: #f5421f25;
    border: 2px solid #ac2f29;
}

.timetableSpawn .timeItem.currentLocation {
    background-color: #1f42f425;
    border: 2px solid #293fac;
}


.timetableSpawn .timeItem p {
    font-size: 25px;
    margin: 0;
}

#stationsSpawnVertical .timeItem {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 10px;
    min-height: 70px;
}

.rowDefault {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    align-items: center;
}

.moreActions {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}
#stationsSpawnVertical .timeItem p {
    font-size: 20px;
}

.timetableSpawn .timeItem.previous {
    background-color: #f5421f25;
}

#timetableSpawn .timeItem.isNext {
    background-color: #ffffff36;
}

.timeItem.forCheckboxes p {
    margin-left: 5px;
    font-size: 17px !important;
}

.timetableSpawn .timeItem span {
    font-size: 15px;
    margin: 0;
    margin-left: 10px;
}

.timetableSpawn .timeItem .actions {
    color: white;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

}


#content {
    margin-top: env(safe-area-inset-top) !important;
    margin-bottom: env(safe-area-inset-bottom) !important;
    /* Adding bottom safe area inset */
    /*height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom))*/
    ;
    height: auto;
    /* Adjusting content height to fill the viewport */
}


.loginContent {
    display: none;
    margin-top: env(safe-area-inset-top) !important;
    margin-bottom: env(safe-area-inset-bottom) !important;
    /* Adding bottom safe area inset */
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    /* Adjusting content height to fill the viewport */
    width: 100%;
    height: 100%;
}


body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh !important;
    overflow: hidden !important;
    /* Optional, to prevent any scroll */
}

.justCenterHorizontally {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.loginContentFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(85vh - env(safe-area-inset-top));
    padding-top: env(safe-area-inset-top);
    /* Ensure it accounts for the safe area */
    transition: height 1.3s ease, padding-top 1.3s ease;
}

.loginContentFlex.noSplash {
    height: 100%;
    padding-top: 0px;
}

.loginContentFlex .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-svg-loader {
    --uib-size: 350px;
    --uib-color: #ffffff;
    --uib-speed: 2.4s;
    --uib-bg-opacity: 0.1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Changed from visible to hidden */
}

.loader svg.reveal .car {
    fill: #ffffffb7;
}

.loader svg.reveal .track {
    fill: #ffffffb7;
}

.loader svg.reveal .car,
.loader svg.reveal .track {
    stroke-opacity: 0;
    /* Fades out the stroke */

    /* Smooth transition */
}

.car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 110, 135;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease, fill 5.5s ease-in-out, stroke-opacity 0.1s ease-in-out;
    fill: #00000000;
}

.track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 110, 135;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease, fill 7.5s ease, stroke-opacity 0.1s ease-in-out;
    fill: #00000000;
    animation: travelBack var(--uib-speed) linear infinite;
}

@keyframes travel {
    0% {

        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -240;
    }
}

@keyframes travelBack {
    100% {

        stroke-dashoffset: 0;
    }

    0% {

        stroke-dashoffset: -240;
    }
}

.loginForming p {
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    /* Start hidden */
    transition: opacity 2s ease-in-out;
    /* Smooth fade-in */
}

.loginForming p.show {
    opacity: 1;
    /* Fully visible when shown */
}

.loginForming {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loginForming svg {
    transition: transform 0.5s ease-in-out 0.4s, width 0.5s ease-in-out, height 0.5s ease-in-out;
    width: 250px;
    height: 250px;
}

.loginForming.start svg {
    width: 70px;
    height: 70px;
    transform: translateY(-25vh);
}

.loginForming .themeButton {
    color: #fff;
}

.trail {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ffffff90;
    border-radius: 50%;
    pointer-events: none;
    animation: fade-out 0.7s ease-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

#main.setupNeeded {
    overscroll-behavior: none !important;
    overflow: hidden !important;
}

#hello-text {
    font-size: 70px;
    padding-left: 10px;
    padding-right: 10px;

    animation: float 7s ease-in-out infinite;
}

#hello-text span {
    transition: font-size 1s ease-in-out;
}

#hello-text.noSplash span {
    font-size: 90px;
}

#hello-text span {
    font-size: 5rem;
    font-weight: lighter;
    color: #ffffff;
    display: inline-block;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    animation: draw 0.5s forwards;
    font-family: 'Bubble';
}

@keyframes draw {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }

    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.infoWelcome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 50px;
}

.infoWelcome span {

    font-size: 0.8rem;
    color: #ffffff;
    opacity: 1;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes float {
    0% {
        transform: translateY(2.5px);
    }

    50% {
        transform: translateY(-2.5px);
    }

    100% {
        transform: translateY(2.5px);
    }
}

.loginStep1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 999;
    height: calc(85vh - env(safe-area-inset-top));
    padding-top: env(safe-area-inset-top);
}

.topActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.topActions span {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.illustrationImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.illustrationImage img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBelow {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoBelow h1 {
    font-size: 25px;
    margin: 10px 50px;
    text-align: center;
    font-weight: bold;
}

.infoBelow p {
    font-size: 15px;
    font-weight: normal;
    padding: 0px 50px;
    text-align: center;
}


.buttonsContainerSplash {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
}


.buttonsContainerSplash .aButton {
    border-radius: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #8989891e;
    /*border-radius: 20px;*/
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: background-color 0.4s ease-in-out;
    padding: 0px 10px;
}

.buttonsContainerSplash .aButton:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttonsContainerSplash .aButton:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttonsContainerSplash .aButton:hover {
    background-color: #8989893e;
}

.buttonsContainerSplash .aButton svg {
    margin-right: 5px;
}

.stationsSpawn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    height: 265px;
}

.stationsSpawn .topTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.stationsSpawn .topTitle vox {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}

.stationsSpawn .topTitle .themeButton {
    margin-left: auto;
}

.stationsSpawn .topTitle .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.stationsSpawn .topTitle .icon svg {
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
    border-radius: 50%;
}

.splitTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.splitTitle vox {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
}


.splitTitle .themeButton {
    margin-left: auto;
}

.splitTitle .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.splitTitle .icon svg {
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
    border-radius: 50%;
}

.stationsSpawn .stationsSpawnInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* Enables horizontal scrolling */
    height: 100%;
    color: #fff;
    gap: 10px;
    /* Space between items */
    scroll-snap-type: x mandatory;
    /* Enables snapping */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
    /* Momentum scrolling for mobile */
    margin-top: 7.5px;
    border-radius: 20px;
}

.stationsSpawn .stationsSpawnInner::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.stationsSpawn .stationsSpawnInner .item {
    display: flex;
    flex-direction: column;
    background-color: #9494941d;
    height: 100%;
    border-radius: 20px;
    /*width: 230px;*/
    /*max-width: 230px;*/
    min-width: 220px;
    padding: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    scroll-snap-align: start;
    /* Snap to the start of each item */
}

.stationsSpawn .stationsSpawnInner .item.minimum {
    background-color: #1f42f425;
    border: 2px solid #293fac;
}


.stationsSpawn .stationsSpawnInner .item .info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.stationsSpawn .stationsSpawnInner .item .main-text {
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    padding-top: 0px;
}

.stationsSpawn .stationsSpawnInner .item .stationName {
    color: #fff;
    font-size: 23px;
    display: flex;
    width: 100%;
    align-items: left;
    padding: 10px;
}

.stationsSpawn .stationsSpawnInner .item .stationName .stationInfo {
    position: fixed;
    top: 10px;

    right: 10px;
    display: flex;
    flex-direction: row;
    background-color: #40404372;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 50%;
    color: #8bdd8f;
    flex: -1;
    display: none;
}

.stationsSpawn .stationsSpawnInner .item .fav-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.stationsSpawn .stationsSpawnInner .item .fav-actions div {
    cursor: pointer;
}


.stationsSpawn .stationsSpawnInner .item .fav-actions .button-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #40404372;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    color: #8bdd8f;
    flex: -1;
}

.stationsSpawn .stationsSpawnInner .item .info .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.stationsSpawn .stationsSpawnInner .item .info .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.stationsSpawn .stationsSpawnInner .item .info .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}

.stationsSpawn .stationsSpawnInner .item .info .text span:nth-child(1) {
    color: #afafaf;
    font-size: 13px;
}

.loaderTimes {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-top: 16px rgba(255, 255, 255, 0.75) solid;
    border-left: 16px rgba(255, 255, 255, 0.25) solid;
    border-bottom: 16px rgba(255, 255, 255, 0.25) solid;
    border-right: 16px rgba(255, 255, 255, 0.25) solid;
    animation: spSlices 1s infinite linear;
}

@keyframes spSlices {
    0% {
        border-top: 16px rgba(255, 255, 255, 0.75) solid;
        border-right: 16px rgba(255, 255, 255, 0.25) solid;
        border-bottom: 16px rgba(255, 255, 255, 0.25) solid;
        border-left: 16px rgba(255, 255, 255, 0.25) solid;
    }

    25% {
        border-top: 16px rgba(255, 255, 255, 0.25) solid;
        border-right: 16px rgba(255, 255, 255, 0.75) solid;
        border-bottom: 16px rgba(255, 255, 255, 0.25) solid;
        border-left: 16px rgba(255, 255, 255, 0.25) solid;
    }

    50% {
        border-top: 16px rgba(255, 255, 255, 0.25) solid;
        border-right: 16px rgba(255, 255, 255, 0.25) solid;
        border-bottom: 16px rgba(255, 255, 255, 0.75) solid;
        border-left: 16px rgba(255, 255, 255, 0.25) solid;
    }

    75% {
        border-top: 16px rgba(255, 255, 255, 0.25) solid;
        border-right: 16px rgba(255, 255, 255, 0.25) solid;
        border-bottom: 16px rgba(255, 255, 255, 0.25) solid;
        border-left: 16px rgba(255, 255, 255, 0.75) solid;
    }

    100% {
        border-top: 16px rgba(255, 255, 255, 0.75) solid;
        border-right: 16px rgba(255, 255, 255, 0.25) solid;
        border-bottom: 16px rgba(255, 255, 255, 0.25) solid;
        border-left: 16px rgba(255, 255, 255, 0.25) solid;
    }
}

.failed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.failed-icon {
    width: 50px;
}

.failed-message {
    color: #f54940;
    margin-top: 10px;
    font-weight: bold;
    font-size: 19px;
}

.failed-message.nonImportant {
    color: #f5b640;
}

.failed-subtext {
    font-size: 15px;
}

.compassAnim {
    animation: compass 0.8s ease-in-out infinite;
}

@keyframes compass {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.custom-marker {
    width: 10px;
    /* Adjust the size of the dot */
    height: 10px;
    background-color: white;
    /* Fill color of the dot */
    border: 2px solid #007cbf;
    /* Stroke color */
    border-radius: 50%;
    /* Make it a circle */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a subtle shadow */
}

.start-end {
    width: 30px;
    /* Adjust the size of the dot */
    height: 30px;
    background-color: white;
    border-radius: 50%;
    /* Make it a circle */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a subtle shadow */
    border-top-right-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(20px, -20px);
}


.transition {
    width: auto;
    /* Adjust the size of the dot */
    height: auto;
    background-color: white;
    border-radius: 25px;
    /* Make it a circle */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(20px, -20px);
    color: #000;
    padding: 15px;
    z-index: 999;
}

.transition p {
    color: #000 !important;
    font-weight: bold;
}

.station {
    width: auto;
    /* Adjust the size of the dot */
    height: auto;
    background-color: rgba(72, 72, 72, 0.581);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 25px;
    /* Make it a circle */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(120px, -120px);
    color: #ffffff;
    padding: 15px;
    z-index: 999;
    font-weight: bold;
}

.busLocation {
    width: auto;
    /* Adjust the size of the dot */
    height: auto;
    background-color: #00ff959c;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 25px;
    /* Make it a circle */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add a subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(120px, -120px);
    color: #ffffff;
    padding: 15px;
    z-index: 1999;
    font-weight: bold;
}

.marker-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.marker-icon img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.toggle-switch.disabled {
    pointer-events: none;
    opacity: 0.7;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: rgb(88, 88, 88);
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked+.toggle-label {
    background-color: #4caf50;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
    background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked+.toggle-label {
    background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked+.toggle-label::before {
    transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
    background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label {
    background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

@keyframes glowUpGlobalSM {
    from {
        opacity: 0;
        transform: scale(1.2);
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff0000, 0 0 20px #e6e6e6;
    }

    to {
        opacity: 1;
        transform: scale(1);
        box-shadow: none;
    }
}

.glowUpGBSM {
    display: inline-block;
    /* Ensure divs are visible and can animate */
    animation: glowUpGlobalSM 1s ease forwards;
}

@keyframes glowUpGlobaltxt_title {
    from {
        opacity: 0;
        transform: scale(1.1);
        font-size: 40px;
        /* Example adjustment */
        font-weight: bold;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff0000, 0 0 20px #e6e6e6;
    }

    to {
        opacity: 1;
        transform: scale(1);
        font-size: 38px;
        /* Restore original font size */
        font-weight: inherit;
        text-shadow: none;
    }
}

.glowUpGlobaltxt_title {
    animation: glowUpGlobaltxt_title 1s ease forwards;
}

#busInfoDesc {
    margin-bottom: 20px;
}

.full-width-line {
    position: relative;
    width: 120%;
    box-sizing: border-box;
    /* Ensures padding doesn't reduce the width */
    height: 2px;
    /* Adjust the thickness of the line */
    background-color: rgba(255, 255, 255, 0.243);
    /* Color of the line */
    margin-left: -30px;
    padding: 0;
    border-radius: 20px;
}

.storage-editor {
    background-color: #121212;
    /* Darker base for a modern Apple style */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    color: #ffffff;
    /* Default text color */
}

.storage-editor label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #e0e0e0;
}

.storage-editor .items {
    background-color: #1e1e1e;
    padding: 12px;
    margin-top: 12px;
    border-radius: 6px;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.storage-editor .item {
    display: flex;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 6px;
    align-items: center;
}

.storage-editor .item input[type="text"] {
    width: 60%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.storage-editor .item button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.storage-editor .item button:hover {
    background-color: #0056b3;
}

.storage-editor .add-item {
    display: flex;
    gap: 12px;
    margin-top: 20px;
}

.storage-editor .add-item input[type="text"] {
    width: 40%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.storage-editor .add-item button {
    background-color: #28a745;
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.storage-editor .add-item button:hover {
    background-color: #218838;
}


.notification-center {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    scroll-behavior: smooth;
    touch-action: auto;
    align-items: center;
    text-align: left;
    background: #1f1f1f7c;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 1;
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.7s ease, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out, height 0.5s ease-in-out;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    font-family: 'SF Pro Display';
    z-index: 10930;
}

.notification-center span {
    text-align: center;
}

.notification-center.active {
    opacity: 1;
    /* Show the popup */
    visibility: visible;
    /* Show the popup */
    transform: translateY(0);
    /* Slide the popup into view */
}

.notification-center .header {
    font-size: 19px;
    color: #ffffffa5;
    margin-right: auto;
}



.header.default {
    margin-right: 0;
}

.notification-card {
    display: flex;
    flex-direction: column;
    background-color: #313131b5;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
}

.notification-card.b {
    display: flex;
    flex-direction: column;
    background-color: #4a4a4a54;

    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
}

.topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconRow {
    margin-right: 20px;
}

.iconRow img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    vertical-align: middle;
    justify-content: center;
}

.textRow {
    font-size: 25px;
}

.arrowRow {
    margin-left: auto;
    margin-right: 10px;
    transition: transform 0.5s ease-in-out;
}

.notification-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.aNotification {
    width: 100%;
    z-index: 100;
}

.aNotification.more {
    position: relative;
    margin-top: -80px;
    z-index: 99;
    opacity: 0.5;
}

.rowCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.optionsBoxMsg {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    /* Or relative, depending on your layout */
    margin-left: -5px;
    /* Adjust the initial position */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, margin-left 0.5s ease-in-out;
}

.enlarged .optionsBoxMsg {
    opacity: 1;
    visibility: visible;
    position: relative;
    /* Or use absolute if it fits your layout better */
    margin-left: 5px;
    /* Target position */
}

#downloading-icon-big svg #arrowDownload {
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

#downloading-icon-big.active svg #arrowDownload {
    animation: downloadAnimBig 2s infinite
}


@keyframes downloadAnimBig {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(5px);
        opacity: 0;
    }

    55% {
        transform: translateY(-5px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.live-activity {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: none;
    /* Enables horizontal scrolling */
    height: 140px;
    color: #fff;
    gap: 10px;
    /* Space between items */
    scroll-snap-type: x mandatory;
    /* Enables snapping */
    scroll-behavior: smooth;
    /* Smooth scrolling */
    -webkit-overflow-scrolling: touch;
    /* Momentum scrolling for mobile */
    /*margin-left: -20px;
    margin-right: -20px;*/
    border-radius: 20px;
}

.live-activity::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.live-activity .item {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2e62;
    /*#2c2cEVOX2e93*/
    height: 100%;
    border-radius: 20px;
    width: 100%;
    min-width: 100%;
    padding: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    scroll-snap-align: start;
    /* Snap to the start of each item */
}

.live-activity .item .busName {
    color: #fff;
    font-size: 20px;
    display: flex;
    width: 100%;
    align-items: left;
    padding: 10px;
    align-items: center;
    margin-bottom: 0;
}

.live-activity .item .main-text {
    margin-top: 5px;
    margin-bottom: auto;
}

.live-activity .item .busName #busidNoReq {
    margin-left: auto;
    margin-right: 5px;
}

.progress-bar {
    position: relative;
    height: 10px;
    background: #2c2c2e;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}

.progress-track {
    position: relative;
    height: 100%;
}

.progress-fill {
    width: 40%;
    /* Adjust width for progress */
    background: linear-gradient(45deg, #2c2c2e62 25%, #293fac 75%);
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.progress-indicator {
    position: absolute;
    top: 50%;
    left: 40%;
    /* Match the width of .progress-fill */
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: white;
    border: 3px solid #293fac;
    border-radius: 50%;
    z-index: 1;
    transition: left 0.5s ease-in-out;
}

.holding {
    background-color: #f44336;
}