.navigate {
    padding: 23px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff17;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 30px;
    justify-content: space-between;
    
}

.navigate .switch {
    display: flex;
    align-items: center;
}

.navigate .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    /* Increase width to take up more space */
}



.navigate .userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.navigate .userIcon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.navigate .userInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}

.userInfo .welcoming {
    font-size: 13px;
}

.userInfo #userUsername {
    font-size: 19px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;


    z-index: -1;
}

.bottomSearchParent {
    position: fixed;
    bottom: 30px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: transform 0.6s ease, opacity 0.6s ease; /* Smooth transition */
}


.searchIntelli {
    padding: 18px 20px;
    background-color: #1f42f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: padding 0.6s ease, opacity 0.3s ease; /* Smooth transition */
    width: 256px;
}


.searchIntelli .iconInC {
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff1d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.triggerSearch {
    flex: 1;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff1d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIntelli .iconInC,
.searchIntelli .triggerSearch {
    transition: opacity 0.2s ease-in-out, transform 0.6s ease;
    /* These will shrink or hide when the 'scrolled' class is added */
}

.bottomSearchParent.scrolled .searchIntelli {
    padding: 10px 20px; /* Smaller padding when scrolled */
    width: 145px;
    justify-content: center;
}

.bottomSearchParent.scrolled .searchIntelli .iconInC,
.bottomSearchParent.scrolled .searchIntelli .triggerSearch {
    opacity: 0; /* Hide the icons */
    transform: scale(0.8); /* Shrink the icons */
}

.bottomSearchParent.scrolled {
    height: auto; /* Allow the container to shrink based on content */
}

.searchIn {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: left;
}

.searchIn .nearByHolder {
    color: #afafaf;
    font-size: 13px;
}

.searchIn span {
    display: flex;
    align-items: center;
}

.searchIn span svg {
    margin-left: 2px;
}

#phone {
    background: linear-gradient(to top right,
            rgba(31, 65, 244, 0) 50%,
            rgba(31, 65, 244, 0.1) 75%,
            rgba(31, 65, 244, 0.2) 100%),
        linear-gradient(to bottom left,
            rgba(124, 255, 121, 0) 50%,
            rgba(124, 255, 121, 0.1) 75%,
            rgba(124, 255, 121, 0.2) 100%),
        #141416;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    /* Doubles the scale of the gradients */
}

.notificationsCC {
    padding: 7.5px 15px;
    background-color: rgba(255, 255, 255, 0.164);
    /* Use rgba for transparency */
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.newNotifs {
    margin-left: 10px;
    background-color: #161514;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.Userfeed {
    margin-top: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 120px;
}

.Userfeed .feedItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

.feedItem .topDefines {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.feedItem .topDefines .itempic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feedItem .topDefines .itempic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.feedItem .topDefines .infoPost {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.infoPost .popular {
    /*color: #ff7300;*/
    color: #fff;
}

.feedItem .topDefines .infoPost span.postType {
    color: #afafaf;
    font-size: 13px;
}

.feedItem .arrowFar {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff1d;
    margin-left: auto;
}

.feedItem .buttonMore {
    padding: 0px 20px;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff1d;
    margin-left: auto;
    color: #fff;
    font-size: 14px;
}

.pinned-favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    height: 190px;
    color: #fff;
    gap: 10px; /* Space between items */
    scroll-snap-type: x mandatory; /* Enables snapping */
    scroll-behavior: smooth; /* Smooth scrolling */
    -webkit-overflow-scrolling: touch; /* Momentum scrolling for mobile */
}

.pinned-favorites::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }

.pinned-favorites .item {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2e93;
    height: 100%;
    border-radius: 20px;
    width: 190px;
    min-width: 190px;
    padding: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    scroll-snap-align: start; /* Snap to the start of each item */
}

.pinned-favorites .item.favorite {
    background-color: #1f42f425;
    border: 2px solid #293fac;
}
.pinned-favorites .item .info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.pinned-favorites .item .main-text {
    margin-top: 20px;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    padding-top: 0px;
}

.pinned-favorites .item .busName {
    color: #fff;
    font-size: 38px;
    display: flex;
    width: 100%;
    align-items: left;
    padding: 10px;
}
.pinned-favorites .item .fav-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}

.pinned-favorites .item .nonDefault {
    justify-content: space-evenly;
}


.pinned-favorites .item .fav-actions .button-action {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #40404372;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    color: #8bdd8f;
    flex: -1;
}



.pinned-favorites .item .fav-actions .button-action.important {
    flex: 1;
    margin-right: 5px;
}


.pinned-favorites .item .fav-actions .button-action.important svg {
    margin-right: 5px;
}

.pinned-favorites .item .fav-actions .button-action.coverAll {
    width: 100% !important;
}
.pinned-favorites .item .fav-actions .button-action:nth-child(1).coverAll {
    margin-right: 5px;
}

.pinned-favorites .item .info .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.pinned-favorites .item .info .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.pinned-favorites .item .info .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-left: 10px;
}

.pinned-favorites .item .info .text span:nth-child(1) {
    color: #afafaf;
    font-size: 13px;
}

.skeleton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .skeleton-text,
  .skeleton-button {
    background: #e0e0e0;
    border-radius: 14px;
    animation: skeleton 1.5s infinite ease-in-out;
  }
  
  .skeleton-text {
    height: 100%;
    width: 100%;
  }
  
  .skeleton-button {
    height: 40px !important;
    width: 100%;
    flex: 1;
  }
  
  /* Skeleton effect animation */
  @keyframes skeleton {
    0% {
      background-position: -200%;
    }
    100% {
      background-position: 200%;
    }
  }
  
  .skeleton-text {
    background: linear-gradient(90deg, #e0e0e000 25%, #ffffff17 50%, #e0e0e000 75%);
    background-size: 200% 100%;
  }
  
  .skeleton-button {
    background: linear-gradient(90deg, #e0e0e000 25%, #ffffff17 50%, #e0e0e000 75%);
    background-size: 200% 100%;
  }
  