* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #607d8b;
}

.container {
  background-color: #ffffff;
  width: 40vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #607d8b;
  font-size: 16px;
}

.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: #607d8b;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}

.result {
  position: relative;
}

.result h3 {
  font-size: 30px;
  color: #1f194c;
  margin-bottom: 20px;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.word-meaning {
  color: #575a7b;
}

h3.error {
  margin-top: 50px;
  text-align: center;
  color: #dc0004;
  margin-bottom: 0;
}


