:root {
  --body-color: 28 27 30;

  --font-color: 255 255 255;
  --highlight-color: 0 0 0;

  --theme-background: 28 27 30;

  --theme-light: 0 0 0;
  --theme-medium: 0 0 0;
  --theme-dark: 0 0 0;
  --isOldDevice: 0;
  --isNewDevice: 5px;
}

html,
body {
  -webkit-user-select: none;
  /* Disable text selection */
  -webkit-touch-callout: none;
  /* Disable callout, e.g., tap and hold effects */
  touch-action: manipulation;
  overflow: hidden;
  height: 100%;
  /* Ensure the height is 100% */
  font-family: "SF";
  overscroll-behavior: none !important;
  /* Adjusting content height to fill the viewport */
}

* {
  touch-action: manipulation;
  /* Prevent double-tap zoom */
}

body {
  background-color: rgb(var(--body-color));
  margin: 0px;
  touch-action: manipulation;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(var(--theme-background));
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
input,
select,
button,
span,
a,
p {
  color: rgb(var(--font-color));
  font-family: "SF";
  font-size: 1rem;
  font-weight: 400;
  margin: 0px;
}

button,
a,
input {
  outline: none;
}

.highlight {
  color: rgb(var(--highlight-color));
}

.fancy-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.fancy-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
}

.no-scrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

#phone {
  background-color: rgb(var(--theme-background));
  /*box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;*/
  height: 851px;
  width: 393px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  transition: transform 0.6s ease-out;
}

#main-wrapper {
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
}

#content {
  padding: 1rem;
}

#links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.75rem;
}

#links-container>a {
  color: rgb(255 255 255 / 80%);
  font-size: 0.75rem;
  text-decoration: none;
}

#links-container>a:is(:hover, :focus) {
  text-decoration: underline;
}

#header-container {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

#logo {
  display: flex;
  width: 100%;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

#user-menu-button {
  height: 47%;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  background-color: transparent;
  margin-right: 3.52%;
  margin-bottom: 2.70%;
  padding: 0rem;
  border: none;
  border-radius: 100%;
}

#user-menu-button>img {
  display: flex;
  height: 100%;
  border-radius: inherit;
}

#search-container {
  display: flex;
  gap: 0.2rem;
  margin-top: 0.2rem;
}

#search-input-container>input,
#search-container>button {
  background-color: rgb(var(--theme-medium));
  color: rgb(255 255 255 / 80%);
  font-size: 1rem;
  border: none;
}

#search-container>button {
  width: 3.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

#search-container>#image-button {
  border-bottom-right-radius: 0.5rem;
}

.center-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


#search-input-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-grow: 1;
  padding-left: 20px;
  background-color: rgb(255 255 255 / 10%);
  transition: background-color 0.4s ease-in-out;
}

#search-input-container>input,
#search-container>button {
  background-color: rgb(255 255 255 / 10%);
  color: rgb(255 255 255 / 80%);
  font-size: 1rem;
  border: none;
}

#search-input-container:has(input:focus),
#search-container>button:focus {
  background-color: rgba(255, 255, 255, 0.088);
}

#mic-button {
  border-radius: 0.2rem;
}

#image-button {
  margin-left: auto;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

#search-container>button {
  background-color: rgb(255 255 255 / 10%);
  color: rgb(255 255 255 / 80%);
  font-size: 1rem;
  border: none;
  width: 3.5rem;
  height: 3.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-container>#image-button {
  border-bottom-right-radius: 0.5rem;
}

#search-input-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: rgb(255 255 255 / 10%);
  padding-left: 20px;
  border-radius: 0.2rem;
  border-bottom-left-radius: 0.5rem;
}


#search-input-container>img {
  height: 1.5rem;
  margin: var(--isOldDevice)
}


#search-input-container>input {
  width: 100%;
  height: 3.25rem;
  background-color: transparent;
  border: none;
  padding: 1rem;
  padding-left: 0;
  color: rgb(255 255 255 / 80%);
  font-size: 1rem;
}

#apps-container {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(2, 50%);
  margin: 1.3rem 0rem;
}

#apps-container>a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(255 255 255 / 10%);
  padding: 1rem 0.75rem;
  border-radius: 0.2rem;
  text-decoration: none;
}

#apps-container>a>i {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

#apps-container p {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.341) 0px 2px 5px;

}

#apps-container>a>.label {
  margin-left: var(--isOldDevice);
  width: calc(100% - 2.5rem);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

#apps-container>a>.label> :is(.name, .url) {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#apps-container>a>.label>.name {
  font-size: 0.8rem;
}

#apps-container>a>.label>.url {
  font-size: 0.7rem;
  color: rgb(255 255 255 / 50%);
}

#apps-container>a:is(:hover, :focus) {
  background-color: rgba(255, 255, 255, 0.088);
}

#apps-container>a:first-child {
  border-top-left-radius: 0.5rem;
}

#apps-container>a:nth-child(2) {
  color: rgb(255, 0, 0);
  border-top-right-radius: 0.5rem;
}

#apps-container>a:nth-child(3) {
  color: rgb(28, 204, 91);
  /*border-bottom-left-radius: 0.5rem;*/
}

#apps-container>a:nth-child(4) {
  color: rgb(28, 147, 228);
  /*border-bottom-right-radius: 0.5rem;*/
}

#apps-container>a:nth-child(5) {
  border-bottom-left-radius: 0.5rem;
  color: rgb(242, 85, 90);
}

#apps-container>a:nth-child(6) {
  border-bottom-right-radius: 0.5rem;
  color: rgb(242, 85, 90);
}

#apps-container>a:nth-child(7) {
  border-bottom-left-radius: 0.5rem;
}

#apps-container>a:last-child {
  color: rgb(15, 118, 14);
  border-bottom-right-radius: 0.5rem;
}


#custom-container {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr;
  /* Single column by default */
  margin: 1.3rem 0rem;
}

#custom-container:has(> a:nth-child(4)) {
  grid-template-columns: repeat(2, 50%);
}

#custom-container:has(> a:nth-child(n+4))>a:last-child:nth-child(odd) {
  grid-column: span 2;
  /* Make it span both columns (single column style) */
}

#custom-container a {
  border-radius: 1rem;
}

#custom-container>a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 8%);
  padding: 1rem 0.75rem;

  text-decoration: none;
}

#custom-container>a>i {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

#custom-container p {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.341) 0px 2px 5px;

}

#custom-container>a>.label {
  margin-left: var(--isOldDevice);
  width: calc(100% - 2.5rem);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
}

#custom-container>a>.label> :is(.name, .url) {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#custom-container>a>.label>.name {
  font-size: 0.8rem;
}

#custom-container>a>.label>.url {
  font-size: 0.7rem;
  color: rgb(255 255 255 / 50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#custom-container>a:is(:hover, :focus) {
  background-color: rgba(255, 255, 255, 0.088);
}

#discover-container {
  width: 100%;
}

#discover-toggles {
  width: 80%;
  display: flex;
  background-color: rgb(255 255 255 / 7.5%);
  margin: auto;
  border-radius: 0.5rem;
}

#discover-toggles>button {
  flex-grow: 1;
  background-color: transparent;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
}

#discover-toggles>button:first-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgb(255 255 255 / 10%);
}

#discover-toggles>button:last-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

/**/
#discover-toggles2 {
  width: 80%;
  display: flex;
  background-color: rgb(255 255 255 / 7.5%);
  margin: auto;
  border-radius: 0.5rem;
}

#discover-toggles2>button {
  flex-grow: 1;
  background-color: transparent;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
}

#discover-toggles2>button:first-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgb(255 255 255 / 10%);
}

#discover-toggles2>button:last-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#discover-feed {
  margin-top: 0.5rem;
}

#discover-feed2 {
  margin-top: 0.5rem;
}

.discover-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-decoration: none;
}

.discover-card>img {
  width: 100%;
  aspect-ratio: 1.6 / 1;
  object-fit: cover;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.discover-card>.discover-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: rgb(255 255 255 / 10%);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.discover-card>.discover-card-info>.title {
  font-size: 0.8rem;
}

.discover-card>.discover-card-info>.desc {
  font-size: 0.7rem;
  color: rgb(255 255 255 / 50%);
}

@media(max-width: 500px) {

  #phone {
    height: 100vh;
    display: flex;
    width: 100%;
    margin: 0px auto;
  }

  #main-wrapper {
    width: 100%;
    flex-grow: 1;
  }
}

.invisible-number {
  display: inline-block;
  width: 10px;
  /* Adjust based on the font and size */
  font-family: monospace;
  /* Use a monospaced font for consistent width */
  font-size: 16px;
  /* Ensure this matches your text size */
}

.popup {
  font-family: "SF";
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: block;
  padding: 30px;
  align-items: center;
  /* Change from 'visible' to 'auto' */
  scroll-behavior: smooth;
  touch-action: auto;
  justify-content: center;
  background: rgb(13, 11, 15);
  background: linear-gradient(45deg, #000000, #1c1c1c, #000000);

  /* Semi-transparent black overlay */
  z-index: 998;
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  box-shadow: 0 0 10px rgba(20, 20, 20, 0.628);
  color: white;
  opacity: 1;
  /* Initially hidden */
  visibility: hidden;
  /* Initially hidden */
  transform: translateY(120%);
  /* Initially off-screen to the left */
  transition: transform 0.9s ease-in-out, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out, height 1s ease-in-out;

  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  /* Transition for sliding effect, opacity, and visibility */
  overflow: auto;
}

.popup.active {
  opacity: 1;
  /* Show the popup */
  visibility: visible;
  /* Show the popup */
  transform: translateX(0);
  /* Slide the popup into view */
}

.oasaBased {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}

.oasaBased .timeBox {
  width: 95%;
  text-align: left;
  /*background-color: #2f755293;*/
  background-color: #6f0505;
  border-radius: 15px;
  font-size: large;
  padding: 20px;
  margin: 10px;
}

.oasaBased .timeBox.topVox {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}

.oasaBased .timeBox.bottomVox {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-top: 0;
}

.oasaBased .timeBox span {
  text-align: right;
  float: right;
}

.evoxBased {
  margin-top: 20px;
  justify-content: center;
  text-align: center;
}


.evoxBased .timeBox {
  width: 95%;
  text-align: left;
  background-color: #333;
  font-size: large;
  padding: 20px;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  box-shadow: none;
  border-radius: 0;
  height: 65px;
  /* Initial height with px */
  transition: height 0.9s ease-in-out, transform 0.6s ease, opacity 0.7s ease-in-out, background-color 0.7s ease-in-out;
}

.evoxBased .timeBox span {
  text-align: right;
  float: right;
}

.evoxBased .timeBox div {
  transition: height 0.7s ease-in-out, transform 0.6s ease, opacity 0.7s ease-in-out;
}

.evoxBased .timeBox img {
  vertical-align: middle;
  transition: transform 0.6s ease, opacity 0.7s ease-in-out;
}

.evoxBased .timeBox:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.evoxBased .timeBox:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}



.parentBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.goBack {
  color: #000;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 60px;
  background-color: #8b8b8b;
  padding: 10px;
  border-radius: 23px;
  width: 130px;
}

.timeBox p {
  font-size: 14px;
  color: #c3c3c3;
}

.grabbable {
  position: absolute;
  background-color: #333;
  height: 5px;
  width: 30%;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  transition: background-color 1s ease-out;
  z-index: 999;

}

.grabbable::before {
  content: "";
  position: absolute;
  top: -20px;
  /* Extend clickable area upwards */
  left: -20px;
  /* Extend clickable area to the left */
  right: -20px;
  /* Extend clickable area to the right */
  bottom: -30px;
  /* Extend clickable area downwards */
  background: transparent;
  /* Ensure it's transparent */
  cursor: pointer;
  /* Make sure the cursor changes */
}

.grabbable:active {
  cursor: grabbing;
}

.profileContainer {
  text-align: center;
  padding: 20px;
}

.profileImage {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  object-fit: cover;
}

.profileName {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.profileEmail {
  font-size: 18px;
  color: gray;
  margin-top: 5px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonsContainer .option {
  background-color: #242426;
  border-radius: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}

.option.disabled {
  background-color: #242426e4;
  border-radius: 0;
  width: 100%;
  height: 50px;
  display: flex;
  pointer-events: none;
  align-items: center;
}

.option span {
  margin-left: 15px;
}

.option vo {
  margin-left: auto;
  margin-right: 10px;
  /* Adjust the spacing as needed */
  color: #8b8b8b;
}

.buttonsContainer .option:hover {
  background-color: #3d3d3d;
}

#floridaCont p {
  margin-top: 10px;
  color: gray;
  font-size: 0.9rem;
}

.buttonsContainer .option.disabled {
  opacity: 0.5;
}

.option img {
  width: 30px;
  height: 30px;
  border-radius: 0.5rem;
  margin-left: 15px;
}

.option svg {
  margin-left: auto;
  margin-right: 10px;
}


.buttonsContainer .option:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.buttonsContainer .option:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#setupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.duplicate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.duplicate img {
  margin-top: auto;
  border-radius: 1rem;
  width: 100px;
  height: auto;
  object-fit: cover;
}

#setupPage img {
  margin-top: 110px;
  border-radius: 1rem;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

#newUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "SF";
}

#newUser img {
  margin-top: 90px;
  border-radius: 1rem;
  width: auto;
  height: 150px;
}

#newUser h1 {
  margin-top: 25px;
  font-size: 19px;
}

#newUser p {
  margin-top: 10px;
}


#case2 h1 {
  font-size: 2rem;
}

#setupPage h1 {
  font-size: 2rem;
}

.duplicate h1 {
  font-size: 1.7rem;
  color: #ed3d3d;
}

#informError h1 {
  font-size: 2rem;
}

#case2 p {
  font-size: 1.1rem;
}

#setupPage p {
  font-size: 1.1rem;
  margin-top: 10px;
}

.duplicate p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.duplicate span {
  font-size: 1rem;
  color: #bfbfbf;
}

#informError p {
  font-size: 1.1rem;
}

.actionBot {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.actionBotPin {
  margin-top: auto;
  position: relative;
  width: 120%;
  text-align: center;
  margin-bottom: 15px;
}

#case1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeButton {
  background-color: #c0943f;
  /*#0980ff -> blue #017c47e4 -> green*/
  background: linear-gradient(145deg, #d0ab56, #c0943f, #d0ab56);
  border-radius: 1rem;
  text-align: center;
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
  margin-top: auto;
  border: none;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.535) 0px 0px 5px;
}

.dismissButton {
  background-color: #56565638;
  border-radius: 1rem;
  text-align: center;
  width: 80%;
  height: 50px;
  font-size: 1.2rem;
  margin-top: auto;
  border: none;
}

.notification {
  padding: 0.5rem;
  color: #fff;
  border-bottom: 1px dotted #e0e0e0;
}

.notification:last-child {
  border-bottom: none;
}

.bell-icon,
.circles,
.blobulus,
.all-notifications {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.circles {
  height: 190px;
  width: 190px;
}

.blobulus {
  height: 300px;
  width: 300px;
}

.bell-icon {
  height: 100px;
  width: 100px;
}

#setupPage div {
  overflow: none;
}

.sliding {

  font-family: "SF";
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
  overflow-y: auto;
  /* Change from 'visible' to 'auto' */
  scroll-behavior: smooth;
  justify-content: center;
  /* Semi-transparent black overlay */
  z-index: 998;
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  color: white;
  opacity: 0.8;
  /* Initially hidden */
  visibility: hidden;
  /* Initially hidden */
  transform: translateX(100%);
  /* Initially off-screen to the left */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  /* Adjusting content height to fill the viewport */
}


.sliding.active {
  opacity: 1;
  /* Show the popup */
  visibility: visible;
  /* Show the popup */
  transform: translateX(0);
  /* Slide the popup into view */
}

.simple-ontop {

  font-family: "SF";
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  /* Change from 'visible' to 'auto' */
  scroll-behavior: smooth;
  justify-content: center;
  /* Semi-transparent black overlay */
  z-index: 998;
  box-sizing: border-box;
  /* Include padding in the element's total width and height */
  color: white;
  opacity: 0;
  /* Initially hidden */
  /* Initially off-screen to the left */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* Adjusting content height to fill the viewport */
}

.back {
  position: relative;
  top: 21px;
  left: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  /* Adjust as necessary */
  color: white;
  /* Assuming you want the text color to be white */
}

.back svg {
  margin-right: 0;
  /* Adjust the spacing between icon and text */
}


.updateAvailable button {
  border: 0;
}

.updateAvailable button:focus {
  border: none;
  outline: 0 !important;
  outline-style: none;
}

.updateAvailable {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #3c3c41;
  border-radius: 50%;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.updateAvailable svg {
  transition: transform 0.5s ease;
  /* Smooth transition */
}

.notificationBox {
  position: absolute;
  background-color: #3c3c41;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  padding: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
  width: 90%;
  height: auto;
  left: 50%;
  top: 50%;
  /* Add this line to center vertically */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.notificationBox h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.actionButton {
  font-size: 16px;
  margin-top: 20px;
  background-color: #ffffff59;
  color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  height: auto;
  font-family: "SF";
  transition: transform 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}

.actionButton.online {
  font-size: 16px;
  margin-top: 20px;
  background-color: #7944fd;
  color: #fff;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  height: auto;
  font-family: "SF";
  transition: transform 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}

.actionButton.online.active {
  font-size: 16px;
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  transform: scale(1.03);
}

.actionButton.active {
  font-size: 16px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #000;
  transform: scale(1.03);
}

#fullDebug span.highlight {
  color: lime;
  /* Change this to the desired color */
  font-family: monospace;
}

.declineButton {
  background-color: #ff4040;
  border-radius: 1rem;
  text-align: center;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  text-align: center;
  box-shadow: none;
  transition: background-color 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.declineButton:hover {
  background-color: #fd0000;
  border-radius: 0;
}

.pendingCont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pendingCont .pending {
  background-color: #242426;
  border-radius: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}

.pending.disabled {
  background-color: #242426e4;
  border-radius: 0;
  width: 100%;
  height: 50px;
  display: flex;
  pointer-events: none;
  align-items: center;
}

.pending span {
  margin-left: 15px;
}

.pending vo {
  margin-left: auto;
  margin-right: 10px;
  /* Adjust the spacing as needed */
  font-weight: lighter;
  color: #8b8b8b;
}


#floridaCont p {
  margin-top: 10px;
  color: gray;
  font-size: 0.9rem;
}

.pendingCont .pending.disabled {
  opacity: 0.5;
}

.pending h2 {
  border-radius: 0.5rem;
  margin-left: 15px;
  vertical-align: middle;

  color: gray;
  font-size: 1rem;
}

.pending svg {
  margin-left: auto;
  margin-right: 10px;
}


.pendingCont .pending:first-child {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


.pendingCont .pending:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}