@font-face {
    font-family: "Inter";
    src: url('Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: "SF";
    src: url('SFUIText-Medium.ttf');
}


* {
    touch-action: manipulation;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "SF";
    background-color: #000000;

    padding: 0;
    margin: 0;
    color: #fff;
    touch-action: manipulation;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* overflow: hidden;*/
}

.background-gradient {
    /* Background gradient to simulate light */
    background: radial-gradient(circle at top,
            /* Glow effect from the top */
            rgba(122, 108, 0, 0.2),
            /* Light purple with low opacity */
            rgba(0, 0, 0, 0) 60%),
        radial-gradient(circle at bottom,
            /* Glow effect from the bottom */
            rgba(200, 182, 45, 0.1),
            /* Slightly lighter purple with lower opacity */
            rgba(0, 0, 0, 0) 50%),
        #000;
    /* Base background color */

    /* Apply a blur filter to soften the edges of the "light" */


    /* Cover the entire screen */
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    position: absolute;
    z-index: 0;
    transition: transform 0.6s ease-out;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    /* Apply box-sizing to all elements */
}

.warning {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    z-index: 999;
}

.warning p {
    font-size: 20px;
    margin-bottom: 10px;
    color: #d6cb00;
    text-align: center;
}

.warning span {
    text-align: center;
}

.warning .qr {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.login {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    /* Center items vertically */
    transition: all 0.5s ease-in-out;
    width: 100%;
    max-width: 400px;
    /* Optional: limit width for better layout */
}

.topImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.topImg video {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.logoImg {
    width: 50px;
    height: 50px;
    margin-left: auto;
}

.loginSection {
    opacity: 0;
    transform: translateY(120%);
    transition: all 0.8s ease-out;
    padding: 30px;
    background-color: #1a1a1a7b;
    backdrop-filter: blur(25px);
    border-radius: 20px;
    width: 100%;
}

.loginSection.active {
    transform: translateY(0);
    opacity: 1;
}

.head {
    margin: 0;
    font-size: 25px;
}

.head.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info {
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: all 1s ease-in-out;
}

.centerLogin {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* Position it relative to its nearest positioned ancestor */
    bottom: 25px;
    /* Stick to the bottom */
    left: 0;
    width: 100%;
    /* Full width */
    justify-content: center;
    align-items: center;

}

.loginButton {
    width: 80%;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px;
    font-size: 18px;
    background: linear-gradient(145deg, #1e1e1e, #222222, #1a1a1a, #222222, #1e1e1e);
    transition: all 0.5s ease-in-out;
}


vo input {
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    /* Light transparent background */
    width: 100%;
    max-width: 100%;
    border: 2px solid transparent;
    /* Make border transparent initially */
    border-radius: 14px;
    box-sizing: border-box;
    padding: 15px 20px;
    /* Adjust padding for consistency */
    color: #ffffff;
    /* Change text color for contrast */
    font-size: 18px;
    outline: none;
    /* Remove default outline */
    transition: border-color 0.3s, box-shadow 0.3s;
    /* Smooth transitions */
}

vo input:focus {
    border-color: #4710b7;
    /* Change border color on focus */
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.5);
    /* Glowing effect */
}

vo input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    /* Lighter placeholder color */
}



.tasks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@-webkit-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 20px;
    width: 20px;
    border: 4.5px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
}

.loading {
    margin-bottom: 5px;
}

.loading-text {
    text-align: center;
    text-wrap: nowrap;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.welcome {

    display: flex;
    width: 90%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.multimatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    opacity: 0;
    transform: translateY(120%);
    transition: all 1s ease-in-out;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.multimatch p {
    margin-bottom: 10px;
}

.multimatch h1 {
    font-size: 18px;
}

.multimatch.active {
    transform: translateY(0);
    opacity: 1;
}

.socialUser {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    /* background-color: rgba(0, 0, 0, 0.5);
    Semi-transparent background */
    background-color: rgba(104, 104, 104, 0.5);
    backdrop-filter: blur(5px);
    /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.socialUser p {
    margin: 0;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    vertical-align: middle;
}

.socialUser span {
    color: #6e6f7b;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    vertical-align: middle;
}

.slUserPFP {
    width: 110px;
    /* Set the desired width */
    height: 110px;
    /* Set the desired height */
    border-radius: 50%;
    /* Make it a circle */
    object-fit: cover;
    /* Ensure the image covers the circle without stretching */
    overflow: hidden;
    /* Hide any overflow outside the circle */
    /* border: 2px solid #fff;    Optional: Add a border around the circle */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Optional: Add a shadow for some depth */
}

.slUserPFP.social {
    width: 50px;
    height: 50px;
}


#lock {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
}

#lock h1 {
    color: #dedede;
    font-size: 24px;
    margin-bottom: 8px;

}

/*#lock p {
    font-size: 14px;
    color: #babec1;
    margin-bottom: 15px;
}*/

.pin-input {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.pin-input span {
    width: 5px;
    height: 5px;
    margin: 0 4px;
    background-color: #dedede;
    border-radius: 50%;
    display: inline-block;
    transition: width 0.3s ease, height 0.3s ease;
}

.pin-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.pin-pad button {
    width: 64px;
    height: 64px;
    font-size: 24px;
    background-color: #4a4a4a43;
    border: none;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pin-pad button.active,
.pin-pad button:active {
    background-color: #fff;
    color: #000;
}

.delete-button {
    background-color: #000000;
    color: #ffffff;
}

.version {
    position: fixed;
    bottom: 30px;
    margin-top: 16px;
    font-size: 12px;
    color: #6c757d;
}

.pin-pad .invisible-button {
    background-color: transparent;
    border: none;
    cursor: default;
    pointer-events: none;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-10px, 0);
    }

    20% {
        transform: translate(10px, 0);
    }

    30% {
        transform: translate(-10px, 0);
    }

    40% {
        transform: translate(10px, 0);
    }

    50% {
        transform: translate(-10px, 0);
    }

    60% {
        transform: translate(10px, 0);
    }

    70% {
        transform: translate(-10px, 0);
    }

    80% {
        transform: translate(10px, 0);
    }

    90% {
        transform: translate(-10px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.problem {
    text-align: center;
    margin: 0;
    color: #c0c0c0a5;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.app {
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    flex-direction: column;
    padding: 5px;
    padding-top: 15px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    transition: transform 0.4s ease-in-out;
}

.app .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.app .topBar .pfp {
    position: relative;
    display: inline-block;
}

.app .topBar .pfp img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.app .topBar .pfp .corner-svg {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    fill: white;
    /* Ensures the SVG fill is white */
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}



.app .topBar .wlcmTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.app .topBar .wlcmTxt .topTxt {
    color: #9a8f97;
    font-size: 15px;
}

.app .topBar .wlcmTxt .bottomTxt {
    font-size: 16px;
    font-family: "SF";

}

.app .topBar .rightItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #40363f;
}

.app .stories {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    /* Allow horizontal scrolling */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    /* For Firefox */
}

.app .stories::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Edge */
}

.app .stories .plus,
.app .stories .story {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    flex-shrink: 0;
    /* Important for horizontal scrolling */
    scroll-snap-align: center;
    /* Aligns item to center when scrolling */
    margin-right: 10px;
}

.app .stories .plus {
    background-color: #40363f;
}

.app .stories .story {
    background: linear-gradient(to right top, rgb(255, 5, 5), rgb(255, 89, 0));
    padding: 3px;
    transition: opacity 0.5s ease-in-out;
}


.app .stories .story img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

@keyframes rotateBorder {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.progress {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

/* Card Style */
.progress-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: linear-gradient(145deg, #3c3b3f, #6e6f58);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 16px #141414, -2px -2px 16px #28282e;
    /* Optional: Set max-width */
    width: 100%;
    border: 2px #6e6f58 solid;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

/* Circular Progress */
.progress-ring {
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    flex-shrink: 0;
    /* Prevents shrinking */
}

.progress-ring svg {
    width: 100%;
    height: 100%;
}

.progress-ring circle {
    fill: none;
    stroke-width: 6;
    stroke-linecap: round;
}

.progress-ring circle.track {
    stroke: #33334d;
}

.progress-ring circle.progress {
    stroke: #ffffff;
    stroke-dasharray: 176;
    stroke-dashoffset: calc(176 - (176 * var(--progress)) / 100);
    /* Use CSS variable */
    transform: rotate(-90deg);
    /* Start from the top */
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.9s ease-in-out;
    /* Animate the stroke-dashoffset */
}

/* Centering the Percentage */
.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

/* Text Content */
.text-content {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    /* Limits text width */
}

.message {
    margin-top: 5px;
}

.message vo {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-family: "SF";

}

.message span {
    font-size: 14px;
    opacity: 0.8;
}

.card {
    position: relative;
    /* This is fine for stacking context */
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0, 0, 0, 0.7);
    /* Optional: semi-transparent background for readability */
    border-radius: 30px;
    width: 100%;
    height: 190px;
    padding: 20px;
    overflow: hidden;
    /* Prevent overflow from the video */
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.card .background {
    position: absolute;
    /* Positioned behind other elements */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    width: auto;
    /* Allow width to adjust based on aspect ratio */
    height: 100%;
    /* Full height of the card */
    min-width: 100%;
    /* Ensure it covers full width */
    min-height: auto;
    /* Allow height to adjust */
    transform: translate(-50%, -50%);
    /* Center the video */

    z-index: 1;
    /* Set a lower z-index so it's behind content */
}

.card .background video {
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the area without distortion */
}

.card .background img {
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the area without distortion */
}

.card>* {
    position: relative;
    /* Ensure child elements are on top of the video */
    z-index: 2;
    /* Higher z-index to be above the video */
}

.cards-container {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.tag {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
    font-size: 13px;
    padding: 5px 12px;
    display: inline;
    align-self: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tag.green {
    background-color: #10b76fc5;
}

.tag.settings {
    background-color: #5c605ec5;
}

.card .arrow {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card .arrow svg {
    transition: transform 0.5s ease-in-out;
}

.card .title {
    font-size: 25px;
    margin-top: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.55);
    /* Subtle shadow */
}

.progress-bar {
    margin-top: 15px;
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #ffffff48;
    border-radius: 25px;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff48;
    border-radius: 25px;
}

.progress-each {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    /*Bar Color*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Adjust the Y value for how far the element slides up */
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-slide-up {
    animation: fadeInSlideUp 0.5s ease forwards;
    /* Adjust duration and timing function as needed */
}


.navigation {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.navigation .bar {
    width: 150px;
    height: 70px;
    border-radius: 50px;
    background-color: #33334d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .bar .item {
    padding: 5px;
    border-radius: 50px;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

}


.navigation .bar .item.active {
    background-color: #000;
}

.navigation .bar .item svg {
    width: 30px;
    height: 30px;
}

.spamStop {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    text-align: center;
    padding: 20px;
}

.spamStop img {
    width: 40%;
    height: auto;
    margin-bottom: 3.5%;
}

.spamStop h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.spamStop p {
    margin-bottom: 10px;
}

.spamStop .countdown {
    font-size: 30px;
}

.topActions {
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
}

.topActions .backArrow {
    padding: 10px;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out;
}

.topActions .topMoreOpt {
    margin-left: auto;
    padding: 10px;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner {
    z-index: 1;
}

.banner img {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.darc-user-self {
    width: 95px;
    height: 95px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;

    margin-bottom: 5px;
    position: relative;
}

.darc-user-self .corner-svg {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 17px;
    height: 17px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7)) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    z-index: 2;
    /* Ensure SVG is on top */
}

.darc-user-self img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 4px solid black;
    display: block;
    position: relative;
    /* Establish a new stacking context for the image */
    z-index: 1;
    /* Image stays behind the SVG */
}



.assets p span {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assets p svg {
    margin-left: 5px;
}

.assets span {
    font-size: 15px;
    padding: 5px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.assets .moreInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Allows wrapping to the next line */

    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.moreInfo .anInfo {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #1e1e1e;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
}

.anInfo svg {
    margin-right: 0;
}

.anInfo span {
    font-size: 0.9rem;
    padding: 0;
    padding-left: 5px;
}

.buttons {
    position: fixed;
    bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.buttons .message {
    background-color: #1e1e1e;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #323232;
    border-radius: 50px;
    height: 50px;
}

.buttons .social {
    background-color: #1e1e1e;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #323232;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.editDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: #1e1e1e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.socialSection {
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: start;
}

.socialSection h3 {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Keep the text centered */
    align-items: center;
}

.socialSection h3 svg {
    position: absolute;
    left: 25px;
    padding: 10px;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#socialSpawn {
    width: 100%;
    height: 100%;
}

.transparent-placeholder {
    background-color: transparent;
    width: 100%;
    height: 250px;
    border: 1px solid black;
    /* Add for visibility */
}

#socialSpawn> :last-child {
    margin-bottom: 50px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 1250px;
    --speed: 30s;
    --easing: cubic-bezier(0.7, 0.2, 0.2, 0.7);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 15));
    background-image: linear-gradient(#ffffff21, #000000);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
    position: fixed;
    top: 0;
    left: 0;

}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}

.homeGrabber {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #ffffff0d;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    transform: translateY(120%);
    transition: transform 0.5s ease-in-out;
    z-index: 999;
}

.homeGrabber.active {
    transform: translateY(0);
}

.homeGrabber .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 1%;
    padding: 25px;
}

.homeGrabber .main .cardAuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 25px;
    background-color: #ffffff24;
    backdrop-filter: blur(25px);
    /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(25px);
    border-radius: 25px;
}

.homeGrabber .rowBoxes {
    display: flex;
    flex-direction: row;
}

.homeGrabber .rowBoxes .cardAuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 150px;
    width: 170px;
    padding: 25px;
    background-color: #ffffff24;
    backdrop-filter: blur(25px);
    /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(25px);
    border-radius: 25px;
}

#notice {
    overflow-x: hidden;
    transition: transform 0.8s ease-in-out, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out, height 1s ease-in-out;
}

#pinText {
    color: #bfbfbf;
    font-size: 1rem;
    margin-bottom: 25px;
}

.devActions {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.devActions p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #bfbfbf;
    text-align: center;
}
.devActions div {
    width: 300px;
    max-width: 300px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.devActions div span {
    margin-left: 0;
    margin-right: auto;
}

.devActions div svg {
    margin-left: auto;
    margin-right: 0;
    width: 25px;
    height: 25px;
}

.debugReload {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-10vh);
    transition: transform 1s ease-in-out;
}

.debugReload.active {
    transform: translateY(0);
}

.debugReload svg {
    padding: 10px;
    border-radius: 50%;
    background-color: #1a1a1a2b;
    backdrop-filter: blur(5px);
    /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(5px);
}