<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Select</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="drop">
  <div class="option active placeholder" data-value="placeholder">
    Select An Option
  </div>
  <a color: black;
href="https://hackerx.hopto.org/templates/downloads/easy-rainbow-parallax.zip"><div class="option" data-value="wow">
    rainbow-parallax
  </div></a>
  <a href="https://hackerx.hopto.org/templates/downloads/balkan-styleportfolio-gallery.zip"><div class="option" data-value="drop">
    balkan-styleportfolio-gallery
  </div></a>
  <a href="https://hackerx.hopto.org/templates/downloads/gsap-cubic-bezier-page-transition.zip"><div class="option" data-value="select">
    gsap-cubic-bezier-page-transition
  </div></a>
  <a href="https://hackerx.hopto.org/templates/downloads/photography-page-concept.zip"><div class="option" data-value="custom">
    photography-page-concept
  </div></a>
  <a href="https://hackerx.hopto.org/templates/downloads/infinito-web-design-studioportfolio-zipline.zip"><div class="option" data-value="animation"> 
    infinito-web-design-studioportfolio-zipline
  </div></a>
	<a href="https://hackerx.hopto.org/templates/downloads/portfolio-website.zip"><div class="option" data-value="animation"> 
    portfolio-website
  </div></a>
	<a href="https://hackerx.hopto.org/templates/downloads/personal-webpage.zip"><div class="option" data-value="animation"> 
    personal-webpage
  </div></a>
	<a href="https://hackerx.hopto.org/templates/downloads/portfolio-page.zip"><div class="option" data-value="animation"> 
    portfolio-page
  </div></a>
	<a href="https://hackerx.hopto.org/templates/downloads/drop-down-menu.zip"><div class="option" data-value="animation"> 
    drop-down-menu
  </div></a>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
