@font-face {
    font-family: "SF";
    src: url('SFUIText-Medium.ttf');
}

body {
    background-color: #04061a;
    color: #fff;
    font-family: "SF";
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box; /* Include padding within the width */
}

.stories {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center;
    overflow-x: auto; /* Prevent horizontal scrolling for the container */
}

.stories .user {
    display: flex;
    position: relative;
    margin-right: 10px;
    background: -webkit-linear-gradient(left top, rgb(255, 5, 5) 0%, rgb(255, 89, 0) 100%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.stories::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

.stories .user.new {
    background: -webkit-linear-gradient(left top, rgb(5, 255, 18) 0%, rgb(115, 0, 255) 100%);
}

.stories .user.me {
    background: transparent;
    border: rgb(0, 136, 255) 1.7px dashed;
}
.stories .user span {
    margin-bottom: auto;
}

.stories img {
    background: #04061a;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.filter {
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of child elements */
    padding-bottom: 5px;
}

.filter::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

.filter.row2 {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Enable horizontal scrolling for row2 as well */
    white-space: nowrap; /* Prevent wrapping of child elements */
}

.filter .option {
    display: inline-block; /* Ensure options align in a row */
    margin-right: 10px;
    padding: 10px;
    color: #ffffffcd;
    background-color: #17412600;
    border-radius: 35px;
    border: #22c55e 0.7px solid;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
    text-transform: capitalize;
}

.filter .option:hover {
    color: #22c55ecd;
    background-color: #174126;
    border-radius: 35px;
    border: #22c55e 0.7px solid;
}

.filter .option.active {
    color: #22c55ecd;
    background-color: #174126;
    border-radius: 35px;
    border: #22c55e 0.7px solid;
}

.title {
    color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for mobile devices */
    gap: 10px; /* Space between images */
    padding: 0; /* Remove padding from the grid to avoid overflow */
    margin: 0; /* Remove margin to avoid overflow */
    box-sizing: border-box; /* Include padding in width calculation */
}

.image {
    overflow: hidden;
    position: relative; /* Ensure the SVG is positioned relative to this container */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Ensure no extra space around images */
    background-color: transparent; /* Remove background color */
}

.image img {
    width: 100%; /* Stretch the image to fill the container's width */
    height: 100%; /* Stretch the image to fill the container's height */
    object-fit: cover; /* Cover the container, cropping if necessary */
    display: block;
    border-radius: 25px; /* Apply border-radius to the image directly */
}

.image vo {
    display: none;
    position: absolute; /* Position the SVG absolutely within the container */
    bottom: 0; /* Position at the bottom of the container */
    right: 0; /* Position at the left of the container */
    margin: 10px; /* Add some margin if needed to avoid overlap with the edges */
}

.image img.active {
    border: rgb(255, 0, 0) 1px solid
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* Three columns on tablets */
    }
}

@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr); /* Four columns on desktops */
    }
}
