@font-face {
    font-family: "SF";
    src: url('SFUIText-Medium.ttf');
}

body {
    background-color: #04061a;
    color: #fff;
    font-family: "SF";
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* Include padding within the width */
    transition: transform 1s ease-in-out;
}

.stories {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* Align items to the start */
    align-items: center;
    overflow-x: auto;
    /* Prevent horizontal scrolling for the container */
}

.stories .user {
    display: flex;
    position: relative;
    margin-right: 10px;
    background: -webkit-linear-gradient(left top, rgb(255, 5, 5) 0%, rgb(255, 89, 0) 100%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 3px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Prevent shrinking */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.stories::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.stories .user.new {
    background: -webkit-linear-gradient(left top, rgb(5, 255, 18) 0%, rgb(115, 0, 255) 100%);
}

.stories .user.me {
    background: transparent;
    border: rgb(0, 136, 255) 1.7px dashed;
}

.stories .user span {
    margin-bottom: auto;
}

.stories img {
    background: #04061a;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.filter {
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent wrapping of child elements */
    padding-bottom: 5px;
}

.filter::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.filter.row2 {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* Enable horizontal scrolling for row2 as well */
    white-space: nowrap;
    /* Prevent wrapping of child elements */
}

.filter .option {
    display: inline-block;
    /* Ensure options align in a row */
    margin-right: 10px;
    padding: 10px;
    color: #ffffffcd;
    background-color: #17412600;
    border-radius: 35px;
    border: #22c55e 0.7px solid;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
    text-transform: capitalize;
}

.filter .option:hover {
    color: #22c55ecd;
    background-color: #174126;
    border-radius: 35px;
    border: #22c55e 0.7px solid;
}

.filter .option.active {
    color: #22c55ecd;
    background-color: #174126;
    border-radius: 35px;
    border: #22c55e 0.7px solid;
}

.title {
    color: #fff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns for mobile devices */
    gap: 10px;
    /* Space between images */
    padding: 0;
    /* Remove padding from the grid to avoid overflow */
    margin: 0;
    /* Remove margin to avoid overflow */
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.image {
    overflow: hidden;
    position: relative;
    /* Ensure the SVG is positioned relative to this container */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /* Ensure no extra space around images */
    background-color: transparent;
    /* Remove background color */
}

.image img {
    width: 100%;
    /* Stretch the image to fill the container's width */
    height: 100%;
    /* Stretch the image to fill the container's height */
    object-fit: cover;
    /* Cover the container, cropping if necessary */
    display: block;
    border-radius: 25px;
    /* Apply border-radius to the image directly */
}

.image vo {
    display: none;
    position: absolute;
    /* Position the SVG absolutely within the container */
    bottom: 0;
    /* Position at the bottom of the container */
    right: 0;
    /* Position at the left of the container */
    margin: 10px;
    /* Add some margin if needed to avoid overlap with the edges */
}

.image img.active {
    border: rgb(255, 0, 0) 1px solid
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        /* Three columns on tablets */
    }
}

@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        /* Four columns on desktops */
    }
}


.popup {
    font-family: "SF";
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    padding: 30px;
    align-items: center;
    /* Change from 'visible' to 'auto' */
    scroll-behavior: smooth;
    touch-action: auto;
    justify-content: center;
    background: rgb(13, 11, 15);

    /* Semi-transparent black overlay */
    z-index: 998;
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.628);
    color: white;
    opacity: 1;
    /* Initially hidden */
    visibility: hidden;
    /* Initially hidden */
    transform: translateY(120%);
    /* Initially off-screen to the left */
    transition: transform 0.7s ease, opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    /* Transition for sliding effect, opacity, and visibility */
    overflow: hidden;
}

.popup.active {
    opacity: 1;
    /* Show the popup */
    visibility: visible;
    /* Show the popup */
    transform: translateX(0);
    /* Slide the popup into view */
}

.popup div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Change from 'visible' to 'auto' */
    scroll-behavior: smooth;
    touch-action: auto;
    justify-content: center;
}

.otpInput {
    margin-top: 10px;
    font-family: "SF";
    width: 70%;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    background-color: #4c4c4e;
    border: 1px solid #757579;
    outline: none;
    padding-left: 20px;
}

.otpInput::placeholder {

    color: #9d9d9d;
}

.otpButton {
    font-family: "SF";
    margin-top: 10px;
    background-color: #007aff;
    border: none;
    border-radius: 18px;
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 122, 255, 0.2);
    transition: background-color 0.3s;
    position: relative;
    /* Add relative positioning */
    display: inline-flex;
    align-items: center;
    justify-content: center;
}